<div style="display: flex; justify-content: center; align-items: center;">
    <div style="max-width: 600px; border: 1px solid #C4C4C4; margin: auto; padding: 0rem; border-radius: 5px; width: 100%;"> 
        
        <!-- Order Confirmed Title -->

        <div style="display: flex; justify-content: center; align-items: center; width:100%; margin-bottom: 0rem;">
            <div style="padding: 10px 10px 5px; display: flex; align-items: center; justify-content: center;">
                <p style="text-align: center; font-size: 16px; margin: 0px;">Your order has been confirmed and will shipped soon</p>
            </div>
        </div>

        <!-- Divider -->

        <span style="display: inline-block; vertical-align: middle; margin: 0px; border-bottom: 1px solid #C4C4C4; width:100%;"></span>

        <!-- Order ID -->

        <div style="display: flex; justify-content: space-between; align-items: center; width:100%; margin-bottom: 0rem;">
            <div style="padding: 10px 10px 5px; display: flex; align-items: center; justify-content: center;">
                <p style="text-align: center; font-size: 15px; margin: 0px;">Order ID:</p>
            </div>

            <div style="padding: 10px 10px 5px; display: flex; align-items: center; justify-content: center;">
                <p style="text-align: center; font-weight: bold; font-size: 14px; margin: 0px;">AZHI58896342</p>
            </div>
        </div>

       <!-- Divider -->

       <span style="display: inline-block; vertical-align: middle; margin: 0px; border-bottom: 1px solid #C4C4C4; width:100%;"></span>

        <!-- Product Info -->

        <div style="padding: 10px 10px 0px; align-items: center;">
            <div style="display: flex; align-items: start;">
                <div>
                    <div style="border: 1px solid #c4c4c4; height: 65px; width: 65px; margin-right: 15px;"></div>
                </div>

                <div style="justify-content: space-between; align-items: center;">
                    <p style="text-align: center; font-weight: bold; font-size: 14px; margin: 0px 0px 20px;">
                        Ocean Shades Havec Air Fresher (300ml)
                    </p>

                    <span style="margin-right: 5px; font-size: 14px; font-weight: bold;">Qty :</span>
                    <span style="font-size: 14px;"> 1 </span>
                </div>
            </div>
        </div>

        <!-- Divider -->

        <span style="display: inline-block; vertical-align: middle; margin: 0px; border-bottom: 1px solid #C4C4C4; width:100%;"></span>
        
        <!-- Order Product Detail -->

        <div style="display: flex; justify-content: space-between; align-items: center; width:100%; margin-bottom: 0rem;">
            <div style="padding: 10px 10px 0px; display: flex; align-items: center; justify-content: center;">
                <p style="text-align: center; font-size: 15px; margin: 0px;">Subtotal:</p>
            </div>

            <div style="padding: 10px 10px 0px; display: flex; align-items: center; justify-content: center;">
                <p style="text-align: center; font-weight: bold; font-size: 14px; margin: 0px;">Rs. 45,658</p>
            </div>
        </div>

        <div style="display: flex; justify-content: space-between; align-items: center; width:100%; margin-bottom: 0rem;">
            <div style="padding: 10px 10px 0px; display: flex; align-items: center; justify-content: center;">
                <p style="text-align: center; font-size: 15px; margin: 0px;">Shipment Charges:</p>
            </div>

            <div style="padding: 10px 10px 0px; display: flex; align-items: center; justify-content: center;">
                <p style="text-align: center; font-weight: bold; font-size: 14px; margin: 0px;">Rs. 45,658</p>
            </div>
        </div>

        <div style="display: flex; justify-content: space-between; align-items: center; width:100%; margin-bottom: 0rem;">
            <div style="padding: 10px 10px 4px; display: flex; align-items: center; justify-content: center;">
                <p style="text-align: center; font-size: 15px; margin: 0px;">Wallet Amount:</p>
            </div>

            <div style="padding: 10px 10px 4px; display: flex; align-items: center; justify-content: center;">
                <p style="text-align: center; font-weight: bold; font-size: 14px; margin: 0px;">Rs. 45,658</p>
            </div>
        </div>

        <!-- Divider -->

        <span style="display: inline-block; vertical-align: middle; margin: 0px; border-bottom: 1px solid #C4C4C4; width:100%;"></span>

         <!-- Total -->

         <div style="display: flex; justify-content: space-between; align-items: center; width:100%; margin-bottom: 0rem;">
            <div style="padding: 10px 10px 5px; display: flex; align-items: center;">
                <p style="text-align: center; font-size: 15px; margin: 0px;">Total:</p>
            </div>

            <div style="padding: 10px 10px 5px; display: flex; align-items: center;">
                <p style="text-align: center; font-weight: bold; font-size: 14px; margin: 0px;">Rs. 45,658</p>
            </div>
        </div>

        <!-- Divider -->

        <span style="display: inline-block; vertical-align: middle; margin: 0px; border-bottom: 1px solid #C4C4C4; width:100%;"></span>

        <!-- Thankyou Text -->

        <div style="display: flex; justify-content: center; align-items: center; width:100%; margin-bottom: 0rem;">
            <div style="padding: 10px">
                <p style="text-align: center; font-size: 16px; margin-top: 0px; margin-bottom: 10px;">
                    We will send you shipping information when your items are on the way !
                </p>

                <h2 style="text-align: center; font-size: 15px; margin: 0px;">
                    Thank you !
                </h2>
            </div>
        </div>
    </div>
</div>