
<table style="width: 100%;">
    <tbody>


        <tr>
            <td align="center" style="color: white;">
                <div>
                    <h1 style="background: #0185ba; color: #fff; padding: 15px; font-size: 25px; font-family: arial; text-align: center; margin: 0px;">    
                        Download Our App
                    </h1>
        
                    <div style="align-items: center; padding-bottom: 15px; margin: 0px auto; background: #0185ba;">
                        <div>
                            <img alt="playstore" src="https://cybermart-prod.s3.me-south-1.amazonaws.com/email-assets/PlayStore.png" width="90px" style="margin-right: 25px;">
                            <img alt="applestore" src="https://cybermart-prod.s3.me-south-1.amazonaws.com/email-assets/AppleStore.png" width="90px">
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td align="center">
                <div style="padding: 10px; border-bottom: 1px solid #0003;">
                    <div style="align-items: center; margin: 0px auto; padding-bottom: 15px;">
                        <img alt="facebook" src="https://cybermart-prod.s3.me-south-1.amazonaws.com/email-assets/Facebook.jpg" width="25px" style="margin-right: 25px;">
                        <img alt="twitter" src="https://cybermart-prod.s3.me-south-1.amazonaws.com/email-assets/Twitter.jpg" width="25px" style="margin-right: 25px;">
                        <img alt="instagram" src="https://cybermart-prod.s3.me-south-1.amazonaws.com/email-assets/Instagram.jpg" width="25px" style="margin-right: 25px">
                        <img alt="pinterest" src="https://cybermart-prod.s3.me-south-1.amazonaws.com/email-assets/Pinterest.jpg" width="25px" style="margin-right: 0px">
                    </div>
        
                    <div style="display: flex; margin: 0px auto;">
                        <div style="display: flex; margin: 0px auto; align-items: center; justify-content: center;">
                            <div style="display: flex; align-items: center; margin-right: 25px;">
                                <img alt="callicon" src="https://cybermart-prod.s3.me-south-1.amazonaws.com/email-assets/CallIcon.jpg" width="15px" style="margin-right: 5px; min-width: 17px;">
                                <span style="font-size: 12px; font-weight: bold; font-family: arial; color: #000;">+92 333-6666679</span>
                            </div>
        
                            <div style="display: flex; align-items: center; justify-content: center;">
                                <img alt="mailicon" src="https://cybermart-prod.s3.me-south-1.amazonaws.com/email-assets/MailIcon.jpg" width="15px" style="margin-right: 5px; min-width: 17px;">
                                <span style="font-size: 12px; font-weight: bold; font-family: arial;">info@cybermart.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        
        <tr>
            <td align="center">
                <div style="display: flex; justify-content: center; padding: 10px; font-family: arial; border: 0px solid #0003;">
                    <p style="color: #455056; font-size: 15px; line-height: 24px; margin: 0px auto; text-align: center;">
                        Privacy | General Terms and Conditions | <br>
                        Accomplished by <b style="color: #0185ba;">CyberMart</b>
                    </p>
                </div>
            </td>
        </tr>

    </tbody>


</table>

